@keyframes load_pending {
  from {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

img[data-manga-translator-translating] {
  animation: 1s infinite linear load_pending;
}