body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
}

#root {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tile {
  display: flex;
  position: relative;
  flex: 1 1;
  height: 100%;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.tile[data-fit="page"] {
  overflow-y: hidden;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

@keyframes load_pending {
  from {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

.tile .loading {
  animation: 1s infinite linear load_pending;
}

.tile img {
  position: absolute;
  width: 70%;
  transition: all ease-in-out 0.2s;

}

.tile[data-fit="page"] img {
  width: 70%;
  height: 100%;
  object-fit: contain;
  
}

.converted:hover {
  opacity: 0;
}

.tile-row {
  display: flex;
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  gap: 5px;
  flex-direction: column;
  box-sizing: border-box;
}

.tile-row-content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
  }

  .tile {
    
    flex: none;
    overflow-y: hidden;
  }

  .tile img {
    position: relative;
  }

  .tile[data-fit] {
    height: auto;
  }
}